.news {
    padding-top: 70px;
    padding-bottom: 50px;
}

.news__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    h2 {
        font-size: 37px;
        font-family: 'FSElliotPro-Bold';
        color: rgb(255, 160, 0);

        margin-right: 35px;
    }

    p {
        font-size: 14.665px;
        font-family: "FSElliotPro";
        color: rgb(17, 17, 17);
        line-height: 1.273;
        text-align: left;

        width: 100%;
        max-width: 880px;
    }

}

.news__content {
    padding-top: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .news__content-block {
        flex: 0 1;

        img {
            width: 220px;
            height: 150px;
        }

        h2 {
            font-size: 21px;
            font-family: 'FSElliotPro-Bold';
            color: rgb(17, 17, 17);

            padding-top: 50px;
        }

        p {
            font-size: 14px;
            font-family: 'FSElliotPro';
            color: rgb(17, 17, 17);
            line-height: 1.454;
            text-align: left;
            width: 223px;

            padding-top: 25px;
        }

        span {
            display: inline-block;
            font-size: 13px;
            font-family: 'FSElliotPro-Heavy';
            color: rgb(17, 17, 17);
            line-height: 1.6;
            text-align: left;

            padding-top: 25px;
            padding-bottom: 10px;
        }
    }
}